*{
    padding: 0;
    margin: 0;
}

ul#vanbang>.active {
    background: rgba(170, 194, 239, 0.22);
}

footer.page-footer.blue.center-on-small-only {
    padding: 50px 0px;
    background: #0d47a1;
    font-weight: bold;
    color: #d9e2f0;
}

ul.pagination {
    margin-top: 8px;
}

.modal-body table {
    width: 100%;
}

.modal-body td {
    /* margin-bottom: 10px!important; */
    padding: 5px;
}

.modal-header {
    background: #112b80;
    color: #fff;
}


footer a,p {
     color: #fff; 
}

.logo {
    padding-top: 5px;
}

.logo {
    background: url(img/bg-header.jpg) repeat-x;
}

.menutop {
    border-top: #CC0000 solid 2px;
    background: #112B80;
    padding-top: 5px;
}

.menutop a {
    color: #fff;
    font-size: 0.8em;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#full{
    display: none;
    position: absolute;
    z-index: 99;
}
#full table{
    width: 500px;
}